{% extends 'main/base.html' %}
{% block content %}
<h1 style="color:rgb(236, 64, 122)">Almoços</h1>
 <div class="list-group">
        {% for object in fs.all %}
        <a href="/refeicoes/{{object.id}}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{object}}</h5>
            <small>{{object.preco}} €</small>
        </div>
        <p class="mb-1">{{object.prato}}</p>
        <small></small>
      </a>
      {% endfor %}
    </div>

{% endblock %}
