{% extends 'main/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="row justify-content-left">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h2 style="color:rgb(236, 64, 122)">Login</h2>
          <form method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">Login</button>
            <a href="{% url 'password_reset' %}" class="btn btn-success">Esqueceu-se da sua password?</a>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}